

/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilos para el contenedor principal */
div.container {
  display: flex;
}

/* Estilos para la barra lateral */
aside.sidebar {
  background-color: #555;
  color: white;
  flex: 1;
  padding: 20px;
}

aside.sidebar ul {
  list-style-type: none;
  padding: 0;
}

aside.sidebar li {
  margin-bottom: 10px;
}

aside.sidebar a {
  color: white;
  text-decoration: none;
}

aside.sidebar a:hover {
  color: black;
}

/* Estilos para el contenido principal */
section.main-content {
  flex: 5;
  color: black;
  padding: 20px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}